<ion-header>
  <ion-toolbar color="dark" >
    <ion-title class="ion-text-center">App Denuncias</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content mode="md" fullscrenn="true" color="medium">
  <ion-img style="width: 80%;align-items: center;margin-left: 10%;" src="../../../assets/chat/hUopdv01.png"></ion-img>



  <ion-title mode="md" ><h1><Strong>AJUDE A FAZER UMA <br> SOCIEDADE MELHOR</Strong></h1></ion-title>
  <br>


    <ion-item  color="medium">
      <ion-list class="centralized-c"  >
      <ion-button size="medium"  href="/chat" (click)="troca('sdaasdasd')">Denuncia Tutelar</ion-button>

      <ion-button size="medium" href="/chat">Abuso Doméstico</ion-button>

      <ion-button  size="medium" href="/chat">Maustratos aos animais</ion-button>

      <ion-button size="medium" href="/chat">Furto/Roubo</ion-button>
        <br>
      <ion-button  size="medium" href="/chat">Aglomeração</ion-button>
    </ion-list>
    </ion-item>


</ion-content>
