<ion-header>
  <ion-toolbar >
    <ion-title class="ion-text-center">App Denuncias</ion-title>
  </ion-toolbar>
  
</ion-header  >

<ion-content >
  <ion-img style="width: 80%;align-items: center;margin-left: 10%;" src="../../../assets/chat/hUopdv01.jpg"></ion-img>
  
  
 
 
  
  <ion-list class="ion-align-items-center" lines="inset">
    <ion-item>
      <ion-button href="/chat">Denuncia Tutelar</ion-button>
    </ion-item>
  
    <ion-item>
      <ion-button href="/chat">Abuso Doméstico</ion-button>
    </ion-item>

    <ion-item>
      <ion-button href="/chat">Maustratos aos animais</ion-button>
    </ion-item>

    <ion-item>
      <ion-button href="/chat">Furto/Roubo</ion-button>
    </ion-item>

    <ion-item>
      <ion-button href="/chat">Aglomeração</ion-button>
    </ion-item>
  </ion-list>
    
</ion-content>
