<ion-header>
  <ion-toolbar color="dark" >
    <ion-title class="ion-text-center">App Denuncias</ion-title>
  </ion-toolbar>

</ion-header  >

<ion-content color="medium">
  <ion-img style="width: 80%;align-items: center;margin-left: 10%;" src="../../../assets/chat/hUopdv01.png"></ion-img>





<ion-title><h1><Strong>AJUDE A FAZER UMA <br> SOCIEDADE MELHOR</Strong></h1></ion-title>
<br>


    <ion-item color="medium">
      <ion-list class="centralized-c"  >
      <ion-button  href="/chat">Denuncia Tutelar</ion-button>

      <ion-button  href="/chat">Abuso Doméstico</ion-button>

      <ion-button  href="/chat">Maustratos aos animais</ion-button>

      <ion-button  href="/chat">Furto/Roubo</ion-button>
        <br>
      <ion-button  href="/chat">Aglomeração</ion-button>
    </ion-list>
    </ion-item>


</ion-content>
