.centralized-p{
  align-items: center;
  text-align: center;
  width: 300px;
}

.background{
  background-color: burlywood;
}

.centralized-c{
  align-items: center;
  text-align: center;
  width: 300px;
  background-color: rgb(146, 148, 156);
}
